version: "3"

services:

  node1:
    build:
      context: ../
      dockerfile: pocket-localnet/Dockerfile
    image: poktscan/pocket-core:dev
    container_name: node1_localnet
    command: [ "pocket", "start", "--datadir=/home/app/.pocket/"]
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "-X", "POST", "http://localhost:8081/v1/query/height" ]
      interval: 10s
      timeout: 1s
      retries: 10
    environment:
      POCKET_CORE_KEY: 6ee006cb35632f7a528d530428863efa8abda2634a68c99e62845a809573131433e1eac17dfce97abaa1387db52cea318edce277bfe5c790448f8ba22f602800
      POCKET_CORE_PASSPHRASE: dev
      POCKET_ADDRESS: 7c08e2e1265246a66d7d022b163970114dda124e
    ports:
      - "8081:8081" # pokt rpc
      - "8083:8083" # prometheus
      - "26656:26656/tcp" # tendermint peer
      - "26656:26656/udp" # tendermint peer
      - "26657:26657" # tendermint rpc
    expose:
      - "26656"
    volumes:
      # Data
      - node1:/home/app/.pocket

      # Exclusive main files
      - ./node1/config.json:/home/app/.pocket/config/config.json

      # Common nodes files
      - ./config/genesis.json:/home/app/.pocket/config/genesis.json
      - ./config/chains.json:/home/app/.pocket/config/chains.json
      - ./config/auth.json:/home/app/.pocket/config/auth.json
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 3G
    hostname: node1.dev
    networks:
      pocket_localnet:
        aliases:
          - node1.dev
    logging:
      options:
        mode: non-blocking
        max-size: "10m"
        max-file: "3"

  node2:
    build:
      context: ../
      dockerfile: pocket-localnet/Dockerfile
    container_name: node2_localnet
    command: [ "pocket", "start", "--datadir=/home/app/.pocket/" ]
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "-X", "POST", "http://localhost:8091/v1/query/height" ]
      interval: 10s
      timeout: 1s
      retries: 10
    environment:
      POCKET_CORE_KEY: f5890eda21ec81039309b57b5b49a40b4a22663eaefbe213b5e56d9f5e5acc387bdc0d52b37654e88273d3db2e5a8e5366d58ddc21b9b3dbb3263528812d9bb7
      POCKET_CORE_PASSPHRASE: dev
      POCKET_ADDRESS: 9ab105b900c4633657f60974ad0e243c8f50ae1e
    ports:
      - "091:8091" # pokt rpc
      - "8093:8093" # prometheus
      - "26666:26666/tcp" # tendermint peer
      - "26666:26666/udp" # tendermint peer
      - "26667:26667" # tendermint rpc
    expose:
      - "26666"
    volumes:
      # Data
      - node2:/home/app/.pocket

      # Exclusive main files
      - ./node2/config.json:/home/app/.pocket/config/config.json

      # Common nodes files
      - ./config/genesis.json:/home/app/.pocket/config/genesis.json
      - ./config/chains.json:/home/app/.pocket/config/chains.json
      - ./config/auth.json:/home/app/.pocket/config/auth.json
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 3G
    hostname: node2.dev
    networks:
      pocket_localnet:
        aliases:
          - node2.dev
    logging:
      options:
        mode: non-blocking
        max-size: "10m"
        max-file: "3"

networks:
  pocket_localnet:

volumes:
  node1:
  node2:
